absl-py==0.12.0
aiohttp==3.7.4.post0
alabaster==0.7.12
alembic==1.6.2
antlr4-python3-runtime==4.8
appdirs==1.4.4
arrow==1.1.0
astor==0.8.1
astroid==2.5.6
async-timeout==3.0.1
attr==0.3.1
attrs==21.1.0
aws-lambda-builders==0.6.0
aws-sam-cli==0.33.1
aws-sam-translator==1.15.1
Babel==2.9.1
bce-python-sdk==0.8.60
BentoML==0.12.1+39.g8f3d7da.dirty
binaryornot==0.4.4
black==21.4b2
boto3==1.17.77
botocore==1.20.77
cachetools==4.2.2
Cerberus==1.3.4
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==3.0.4
chevron==0.14.0
click==7.1.2
click-completion==0.5.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
commonmark==0.9.1
configparser==4.0.2
contextlib2==0.6.0.post1
contextvars==2.4
cookiecutter==1.6.0
coremltools @ git+https://github.com/apple/coremltools.git@82c8d96cb396cc19cafc2da0ed34c1022543b486
cryptography==3.3.2
cycler==0.10.0
Cython==0.29.23
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1615055117017/work
dataclasses==0.8
dateparser==0.7.6
decorator @ file:///tmp/build/80754af9/decorator_1620904181799/work
deepmerge==0.3.0
dependency-injector==4.32.3
distlib==0.3.1
Django==2.2.5
docker==4.4.4
docutils==0.17.1
efficientnet-pytorch==0.7.1
filelock==3.0.12
flake8==3.9.2
Flask==1.0.4
Flask-Babel==2.0.0
future==0.18.2
fvcore==0.1.5.post20210518
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
grpcio==1.38.0
grpcio-reflection==1.38.0
gunicorn==20.1.0
humanfriendly==9.1
hydra-core==1.1.0rc1
identify==2.2.4
idna==2.8
idna-ssl==1.1.0
imagecodecs @ file:///opt/concourse/worker/volumes/live/4b40ac32-48ed-4ea5-5624-8b5903d83b85/volume/imagecodecs_1593453759520/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize==1.2.0
imgaug @ file:///tmp/build/80754af9/imgaug_1605226543559/work
immutables==0.15
importlib-metadata==4.0.1
importlib-resources==5.1.3
iniconfig==1.1.1
iopath==0.1.8
isort==5.8.0
itsdangerous==2.0.0
jedi==0.18.0
Jinja2==3.0.0
jinja2-time==0.2.0
jmespath==0.9.5
joblib==1.0.1
jsonschema==3.2.0
Kappa==0.12.1+48.g71d6f42.dirty
kiwisolver @ file:///opt/concourse/worker/volumes/live/f396cc75-ab93-4292-5463-c41bf6c4bd1a/volume/kiwisolver_1612282405830/work
lazy-object-proxy==1.6.0
lmdb @ file:///opt/concourse/worker/volumes/live/7c896b72-878d-408e-795c-d2294af17545/volume/python-lmdb_1619708118143/work
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib @ file:///opt/concourse/worker/volumes/live/41e8cd50-031f-4dda-5787-dd3c4f4e0f08/volume/matplotlib-suite_1613407855571/work
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
mpmath==1.2.1
mrz==0.6.2
multidict==5.1.0
mypy-extensions==0.4.3
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nodeenv==1.6.0
numpy==1.19.5
oauthlib==3.1.0
oci==2.38.1
olefile==0.46
omegaconf==2.1.0rc1
onnx==1.9.0
onnx-simplifier==0.3.5
onnxoptimizer==0.2.6
onnxruntime==1.7.0
opencv-python==4.2.0.32
opencv-python-headless==4.5.1.48
packaging==20.9
paddle2onnx==0.5.1
paddlepaddle==2.0.2
pandas==1.1.5
parso==0.8.2
pathspec==0.8.1
Pillow @ file:///opt/concourse/worker/volumes/live/d0757663-0751-456b-5d22-3c7bd181f2a1/volume/pillow_1617386150680/work
pluggy==0.13.1
portalocker==2.3.0
poyo==0.5.0
pre-commit==2.12.1
prometheus-client==0.10.1
protobuf==3.15.8
psutil==5.8.0
pudb==2021.1
py==1.10.0
py-cpuinfo @ file:///tmp/build/80754af9/py-cpuinfo_1618437357364/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper @ file:///opt/concourse/worker/volumes/live/5beb7787-10c5-4100-7857-4e23569d642c/volume/pyclipper_1609094818265/work
pycocotools==2.0.2
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pydot==1.4.2
pyenchant==3.2.0
pyflakes==2.3.1
pyforest==1.0.3
Pygments==2.9.0
pylint==2.8.2
pyOpenSSL==19.1.0
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.17.3
pytest==6.2.4
python-dateutil==2.8.0
python-editor==1.0.4
python-json-logger==2.0.1
python-Levenshtein==0.12.2
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets @ file:///opt/concourse/worker/volumes/live/7b9ed5cc-fdd2-4389-679d-2674cfabb40a/volume/pywavelets_1601658333093/work
PyYAML==5.4.1
recommonmark==0.7.1
regex==2021.4.4
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
schema==0.7.4
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
serverlessrepo==0.1.9
Shapely @ file:///opt/concourse/worker/volumes/live/47a7c1ce-0fd2-4c0f-4bf3-3332e9b93955/volume/shapely_1599817150522/work
shellcheck-py==0.7.2.1
shellingham==1.4.0
six @ file:///opt/concourse/worker/volumes/live/5839b2d2-7415-4ff0-4c61-c4cddf798f7c/volume/six_1605205320479/work
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinx-click==3.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==7.2.1
SQLAlchemy==1.3.24
SQLAlchemy-Utils==0.36.7
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
sympy==1.8
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile @ file:///tmp/build/80754af9/tifffile_1617396826939/work
timm==0.4.9
toml==0.10.2
tomlkit==0.5.8
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.8.1
torchvision==0.9.1
tornado @ file:///opt/concourse/worker/volumes/live/cd39df49-5c81-4c95-513c-5bb83298b7ef/volume/tornado_1606942310103/work
tqdm==4.60.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.25.11
urwid==2.1.2
virtualenv==20.4.6
vision-service-python-client==0.2.405
visualdl==2.1.1
websocket-client==1.0.0
Werkzeug==2.0.0
wheel-filename==1.3.0
whichcraft==0.6.1
wrapt==1.12.1
yacs==0.1.8
yarl==1.6.3
zipp==3.4.1
